# ECR 인증 토큰 생성을 위한 Generator 및 ExternalSecret
apiVersion: generators.external-secrets.io/v1alpha1
kind: ECRAuthorizationToken
metadata:
  name: ecr-token-generator
  namespace: chocoletter
spec:
  region: ap-northeast-2
  auth:
    secretRef:
      accessKeyIDSecretRef:
        name: awssm-secret
        key: access-key
      secretAccessKeySecretRef:
        name: awssm-secret
        key: secret-access-key