# prerequisite:
# - aws iam 인증정보가 담긴 Secret
# - 즉, awssm-secret은 클러스터에서 chocoletter 네임스페이스에 직접 생성해야함 (access-key, secret-access-key 등록)

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - secret-store.yaml
  - external-secret.yaml
  - ecr-token-external-secret.yaml
  - ecr-auth-external-secret.yaml
  - certificate.yaml
  - http-route.yaml

images:
  - name: chocoletter-server-image
    newName: 211125633965.dkr.ecr.ap-northeast-2.amazonaws.com/refac/chocoletter-server
    newTag: "1.6"

patches:
  - target:
      kind: Deployment
      name: refac-chocoletter-server
    patch: |-
      - op: add
        path: /spec/template/spec/imagePullSecrets
        value: [{name: ecr-registry-key}]
      - op: add
        path: /spec/template/spec/containers/0/envFrom
        value: [{secretRef: {name: chocoletter-k8s-secret}}]