apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: aws-secrets-mgr
  namespace: chocoletter
spec:
  provider:
    aws:
      service: SecretsManager
      region: ap-northeast-2
      auth:
        secretRef:
          accessKeyIDSecretRef:
            name: awssm-secret
            key: access-key
          secretAccessKeySecretRef:
            name: awssm-secret
            key: secret-access-key